{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<h3>{{page.title}}</h3>
<br>
{% for noticia in noticias %}
<h5 class="card-title">{{ noticia.title }}</h5>
<p class="card-text">{{ noticia.specific.summary|richtext }}</p>
<a href="{% pageurl noticia %}" class="btn btn-primary">Continua leyendo...</a>
<br><br>
{% empty %}
<p>No hay noticias todavía ... </p>
{% endfor %}
<p><a href="{{ page.get_parent.url }}">Volver atrás</a></p>
{% endblock %}
