.text-special {
    font-family: "Caveat", cursive;
}

p {
    color: blue;
}

footer {
    border: 1px solid black;
    background-color: blueviolet;
}

#mapid {
    height: 200px;
    width: 300px;
}