{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <!-- Categorías-->
    {% with categories=page.categories.all %}
    {% if categories %}
    <h6>Publicado en :</h6>
    <ul>
        {% for category in categories %}
        <li style="display: inline">
            {% image category.icon fill-32x32 style="vertical-align: middle" %}
            {{ category.name }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!--/ Categorías-->
    <hr>
    <!-- Snippet peli-->
    <div class="row">
        {% for item in page.lista_pelis.all %}
        <div class="col-md-3">
            <h4>Pelicula:</h4>
            <p>{{ item.pelicula.title }}</p>
            <p><a href="{{ item.pelicula.link }}">Link a IMDB</a></p>

            {% for genero in item.pelicula.generos.all %}
            <p>{{ genero }}</p>
            {% endfor %}
            <p>{{ item.pelicula.cast }}</p>
        </div>
        {% endfor %}
    </div>
    <!--/ Snippet peli-->
    <hr>
    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <hr>
    <!--Tags-->
    {% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
    {% endif %}
    <!--/Tags-->

    <p><a href="{{ page.get_parent.url }}">Volver al blog</a></p>
</div>

{% endblock %}