{% load blog_tags wagtailcore_tags static %}

<div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{% slugurl 'home' %}">
        <span>
            Blog de Clase
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
            <li class="nav-item" id="home">
                <a class="nav-link" href="{% slugurl 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'blog-de-clase' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'index-noticias' %}">Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'listado-pelis' %}">Peliculas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'listado-libros' %}">Libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'contacto' %}">Contacto</a>
            </li>
     
        </ul>
    </div>
</div>