{% load blog_tags static %}

<div class="container">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
        <img src="" alt="">
        <span>
            Blog de Clase
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" id="home">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Blog
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">General</a></li>
                    <li><a class="dropdown-item" href="#">Viajes</a></li>
                    <li><a class="dropdown-item" href="#">Películas</a></li>
                    <li><a class="dropdown-item" href="#">Libros</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scrapping</a>
            </li>
        </ul>
    </div>
</div>